# fastapi == 0.104.1
# uvicorn[standard] == 0.27.0
# pydantic == 2.5.3
# scikit-learn==1.2.2


fastapi == 0.104.1
uvicorn[standard] == 0.27.0
pydantic == 2.5.3
scikit-learn ==1.4.0
pandas
#pymysql 
sqlalchemy
mysql-connector-python==8.0.26